main{
  background-color: white;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 50px ;
}

.scane{
  position: relative;
}

.ball{
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background:#34b1eb;
  
  position:absolute;
  left:45%;
  bottom:50%;
}

.cube{
  width: 3em;
  height: 3em;
  background:rgb(252, 186, 3,0.2);
  
  position:absolute;
  top:50%;
  left:30%;
}