:root {
  --primary:#f58516;
  --bg: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:none;
  border:none;
  text-decoration: none;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color:black;
}

.guer{
  height:20px;
  width:20px;
  background: white;
}

/* navbar */
.navbar{
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding:1.4rem 1%;
  background: #1f1f1f;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 99;
}

.navbar .navbar-logo{
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.navbar .navbar-logo img{
  width: 20px;
}

.navbar .navbar-logo span{
  color: #3544e6;
}

.navbar .navbar-nav{
  display: flex;
  padding-left: 10rem;
}
.navbar .navbar-nav a{
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 0.5rem;
}
.navbar .navbar-nav .ikon{
  padding-left: 15rem;
}

.navbar .navbar-nav a:hover{
  color:var(--primary) ;
}

.navbar .navbar-nav a::after{
content: " ";
display: block;
border-bottom: 0.1rem solid var(--primary);
transform:scaleX(0);
transition:0.3s linear;
}

.navbar .navbar-nav a:hover::after{
  transform:scaleX(0.6);
}

.navbar .navbar-extra a{
  color:#fff;
  margin: 0 0.5rem;
}

#menu{
  display: none;
}

/* hero section */
.hero {
  display: flex;
  position: relative;
  box-shadow: 0px 5px 4px rgba(0,0,0,0.1);
}
 
.hero div .content{
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero div .content h1{
  font-size: 5rem;
  color:#fff;
  text-shadow: 2px 2px 4px #3544e6;
  line-height: 5rem;
}

.hero div .content h1 span{
  color:#3544e6;
}
.hero .content div h1 span:hover{
  color:#3544e6 ;
}

.hero div .content p{
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 3rem;
  font-weight: 400;
  color: black;
}

.hero div .content .cta{
  color:#fff;
  font-weight: 400;
  background:#3544e6;
  font-size: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.hero div .content .cta:hover{
  background:#db5123 ;
}

.hero img{
  width:40rem;
  height:40rem;
  margin-top:10rem;
}

/* Tentang */
h1 {
  color: #3544e6;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  color: #3544e6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #3544e6;
  font-weight: 600;
  opacity: 0.8;
}

.main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #3544e6, #85c9ed);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  margin: 2rem;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 50rem;
  right: 5%;
}
.circle2 {
  top: 90rem;
  left: 3  %;
}
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
.user img{
  width: 15rem;
  border-radius: 20px;
  margin-top:2rem;
}
.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}
.link h2 {
  padding: 0rem 2rem;
}

.games {
  flex: 2;
  
}

.pro {
  background: linear-gradient(to right top, #3544e6, #85c9ed);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  position: relative;
  margin: 2rem;
}


.pro h2 {
  width: 100%;
  color: white;
  font-weight: 600;
}

/* GAMES */
.status {
  margin-bottom: 3rem;
}

.status .bar {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 2rem;
}

.games {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-t {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}
.card-t h2{
  text-align: center;
  font-weight: bold;
}
.card-t p{
  margin-left: 2rem;
}
.card-t img{
  width: 10rem;
  border-radius: 2rem;
}

.progress {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(236, 236, 236);
  position: absolute;
  left: 60%;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tentang{
  padding: 8rem 1rem 2rem 1rem;
  border: 1px rgba(0,0,0,0.3);
  border-radius: 5px;
  margin: 2rem 2%;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
.tentang h2{
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
}
.tentang div{
  display: flex;
  align-items: center;
}
.tentang figure {
  flex-wrap:wrap;
  align-content: center;
}
.tentang figure img{
  width:60%;
  border-radius: 300px;
  margin-left: 3rem;
}
.tentang figcaption{
  font-size: 1.5rem;
  padding-left:3rem;
}

.tentang p{
  font-size:1.5rem;
  padding: 1rem;
  margin-right: 4%;
  border-left: 5px solid var(--primary);
  background: rgba(255, 180, 5,0.5);
  border-radius: 2px;
}

/* Materi */
.materi{
 box-shadow:0 2px 4px rgba(0,0,0,0.1);
 padding: 8rem 7% 2rem 7%;
 
}
.materi h2{
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
}
.materi p{
  color:#777 ;
  font-size: 2rem;
  margin: 2rem 0;
  text-align: center;
}
.materi div{
  display: flex;
  justify-content: center;
}
  .card {
    flex-wrap:wrap;
    justify-content: center;
    width: 300px;
    padding: 20px;
    margin: 10px 10px 10px 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
        }
        
 .card a img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin:0 1rem 1rem 10px;
        }
        
  .card a h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
        }
        
   .card a p {
    font-size: 1.5rem;
    color: #777;
  }
   
/* contact*/
.contact {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: grid;
  grid-gap: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #3544e6;
  color: white;
  border: none;
  cursor: pointer;
}

/*footer*/
footer{
  background :#1f1f1f;
  text-align: center;
  padding: 0.5rem 0;
}
footer .sosial{
  padding:1rem;
}
footer .sosial a{
  color: #fff;
  margin: 0.5rem;
}
footer .sosial a:hover{
  color: var(--primary);
}
footer .credit p{
  color: #fff;
}

/*Artikel*/
.artikel{
  display: flex;
  bottom:0;
  line-height: 3rem;
}
.artikel article{
  padding:5rem 7% 1rem 7%;
  overflow:scroll;
  height:100vh;
}
.artikel article h1{
  font-size: 4rem;
  font-weight: 700;
}
.artikel article h2{
  font-size:3rem;
  font-weight:400;
}
.artikel article p{
  font-size: 2rem;
    color: #333;
}
.artikel article  ul li{
  font-size: 2rem;
  color: #777;
  margin-left:4%;
}
.artikel-list {
  font-size: 2em;
}
.artikel-list li{
  font-weight: 500;
}
.artikel article img{
  width:86%;
  margin:1rem 7%;
  border-radius: 20px;
  box-shadow: 2px 2px 4px grey ;
}
.lanjut {
  display: flex;
  justify-content: space-around;
}
.lanjut a{
  color:#fff;
  padding: 0.5rem 1rem;
  background:rgb(70,80,100);
  border-radius:5px;
}
.lanjut .lanjut-materi{
  color: white;
  font-size:1rem;
  background:var(--primary);
  border-radius:5px;
  padding:0.5rem 2rem;
}

aside{
  margin-left: 2em;
}
.artikel aside{
  order:-1;
  width: 100rem;
  border-right: 2px solid var(--primary);
  padding:5rem 0.5rem ;
}
aside h2{
  font-size: 2rem;
}
aside a{
  display: block;
  padding-top: 0.5rem;
  color:#555;
  font-size: 1.5rem;
  border-top:1px solid #888;
}
aside a:hover{
  color:rgb(20,40,80);
}
hr{
  border-bottom:1px solid black;
}

/* Kode */
pre {
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5px;
  font-family: "Courier New", monospace;
  overflow: scroll;
        }
.salin{
  background:var(--primary);
  border-radius :4px;
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem;
  margin-left:93%;
}
.atribut {
  color:lightblue;
  font-size:2rem;
}
.tag {
  color:red;
}
.coment {
  color: green;
}


/* media queris */

/* laptop*/
@media (max-width:1366px){
  html{
    font-size: 75%;
  }
}
/* tablet */
@media (max-width:768px){
  html{
    font-size: 62.5%;
  }
  
  #menu{
    display: inline-block;
  }
 .navbar .navbar-extra a:hover{
   color: var(--primary);
 }
  .navbar .navbar-nav{
    display: block;
    position: absolute;
    top:100%;
    right:-100%;
    background-color: rgb(31,31,31,0.99);
    width:25rem;
    height: 100vh;
    transition:0.3s;
    padding-left: 0;
  }
  
  .navbar .navbar-nav.active{
    right:0;
  }
  
  .navbar .navbar-nav a{
    display: block;
    margin: 0 1.5rem;
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 3rem;
    text-align: center;
  }
  .navbar .navbar-nav .ikon{
    padding-left: 0;
  }
  .navbar .navbar-nav a::after{
    transform-origin: 1;
  }
  
  .navbar .navbar-nav a:hover::after{
  transform:scaleX(0.2);
}

/* Home*/
.hero {
  flex-wrap:wrap;
  margin-bottom:2rem;
}
.hero div{
  padding-top: 30rem;
  padding-bottom:5rem
}

.hero div .content h1{
  font-size: 5rem;
  padding-bottom: 2rem;
}

.hero div .content p{
  width: 100%;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom:5rem;
}

.hero div .content .cta {
  font-size: 2rem;
  margin-left: 11rem;
}
.hero img{
  z-index: 5;
  top:-50px;
  position: absolute;
}
/*tentang*/
.tentang div{
  flex-wrap:wrap;
}
.tentang figure img{
 width:40%;
 margin-left: 11rem;
}
.tentang figure figcaption{
  margin-left:8rem;
  margin-bottom:2rem;
}
.tentang p{
  margin: 1rem;
}

/* materi*/
.materi div{
  display: block;
}

form {
    grid-template-columns: 1fr;
  }
}

/* mobile phone */
@media (max-width:450px){
  html{
    font-size: 55%;
  }
  /* artikel*/
 .artikel {
   display: block;
 }
 .artikel article h1{
   font-size:3rem;
 }
 .artikel article h2{
   font-size:2.5rem;
 }
 .lanjut{
   margin:2rem 1rem;
 }
 .artikel aside{
   margin:1rem;
   padding:1rem 1rem;
   width:auto;
   border:2px solid var(--primary);
   border-radius:5px;
 }
 /*Kode */
 .salin{
   margin-left: 88%;
 }
 
 /* Tentang */
h1 {
  color: #3544e6;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  color: #3544e6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #3544e6;
  font-weight: 600;
  opacity: 0.8;
}

.main {
  font-family: "Poppins", sans-serif;
  min-height: 20vh;
  background: linear-gradient(to right top, #3544e6, #85c9ed);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 18vh;
  margin: 2rem;
  width: 80%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: block;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 80rem;
  right: -15%;
}
.circle2 {
  top: 120rem;
  left: -20%;
  z-index: 8;
}
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
.user img{
  width: 15rem;
  border-radius: 20px;
  margin-top:2rem;
}
.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}
.link h2 {
  padding: 0rem 2rem;
}

.games {
  
  
}

.pro {
  background: linear-gradient(to right top, #3544e6, #85c9ed);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  position: relative;
  margin: 2rem;
}


.pro h2 {
  width: 100%;
  color: white;
  font-weight: 600;
}

/* GAMES */

.status .bar {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 2rem;
}

.games {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.card-t {
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  justify-content: center;
  padding: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  display: flex;
}
.card-t h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}
.card-t p{
  padding-left:2rem;
  font-size: 1.5rem;
}
.card-t img{
  width: 10rem;
  border-radius:20%;
}


